@import "../../sass/global";

#contact {
  padding: $padding-full-vw;
  width: $full-vw;
  height: $full-vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: $font-size-h2;
      font-weight: $extra-bold;
      font-family: $work-font-family;
      text-align: center;
    }
    p {
      width: 70%;
      font-family: $outfit-font-family;
      font-size: $font-size-p-m;
      font-weight: $extra-thin;
      text-align: center;
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    div span,
    div button {
      font-family: $outfit-font-family;
      font-size: $font-size-p-m;
      font-weight: $extra-thin;
      text-align: center;
    }
    .contact-email {
      font-weight: $bold;
    }
  }
}

// @media screen and (max-width: 1175px) {
//   #contact {
//     .contact-intro {
//       width: 30rem;
//       height: 30rem;
//     }
//   }
// }

// @media screen and (max-width: 990px) {
//   #contact {
//     flex-direction: column;
//     gap: 1em;
//     justify-content: space-between;
//     // align-items: flex-end;
//     padding-top: 30vh;
//     .contact-intro {
//       width: 100%;
//       height: 30rem;
//       border-radius: 1rem;
//       padding: 2em;
//       h3 {
//         font-size: $font-size-h2;
//         font-weight: $extra-thin;
//         width: 100%;
//       }
//       div {
//         width: 100%;
//         gap: 0.5em;
//       }
//     }
//   }
// }

// @media screen and (max-width: 600px) {
//   #contact {
//     flex-direction: column;
//     gap: 1em;
//     justify-content: flex-start;
//     background-color: rgb(32, 32, 32);
//     padding-top: 0;
//     .contact-intro {
//       width: 100vw;
//       height: 15rem;
//       border-radius: 0;
//       animation: none;
//       h3 {
//         font-size: $font-size-h2;
//         font-weight: $extra-thin;
//         width: 100%;
//       }
//       div {
//         width: 100%;
//       }
//     }
//   }
// }
