@import "../../sass/global.module";

#contact {
  padding: $padding-full-vw;
  width: $full-vw;
  height: $full-vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      width: 70%;
      font-family: $outfit-font-family;
      font-size: $font-size-p-m;
      font-weight: $extra-thin;
      text-align: center;
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    div span,
    div button {
      font-family: $outfit-font-family;
      font-size: $font-size-p-m;
      font-weight: $extra-thin;
      text-align: center;
    }
    .contact-email {
      font-weight: $bold;
    }
    .resume-link {
      font-size: $font-size-p-m;
      font-weight: $extra-thin;
      border: 1px solid;
      border-radius: 0.2em;
      padding: 0.2em 0.5em;
      transition: 0.3s;
      &:hover {
        border-radius: 2em;
        transition: 0.3s;
      }
    }
    .socials {
      width: 100vw;
      height: 20vh;
      background-color: #f1f0f0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
      .fa-3x {
        transition: 0.3s;
      }
      h3 {
        font-family: $work-font-family;
        font-weight: $extra-thin;
        font-size: $font-size-h4;
        border-bottom: 1px solid;
      }
      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4em;
      }
      i:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #contact .contact-info .icons {
    gap: 3em;
    .fa-3x {
      font-size: 2.5em;
      transition: 0.3s;
    }
  }
}
