@import '../../sass/global';

#contact {
  background-color: $background-color;
  color: $text-dark-bg;
  padding: $padding-full-vw;
  width: $full-vw;
  height: $full-vh;
  h3 {
    font-size: $font-size-xl;
    font-weight: $extra-thin;
  }
}

.contact-row {
  margin-top: 25vh;
  margin-bottom: auto;
}

#contact 

.info-row {
  font-size: 25px;
  font-weight: 200;
}

#contact label{
  color: white;
}

#contact input, 
.form-floating textarea[placeholder="Message"] {
  background-color: rgb(32, 32, 32);
  border: none;
}

#contact input:hover, 
.form-floating textarea[placeholder="Message"]:hover {
  background-color: rgb(45, 45, 45);
}

#contact input:focus {
  background-color: rgb(32, 32, 32);
}

#contact-submit {
  background-color: white;
  color: rgb(32, 32, 32);
}

#contact-submit:hover {
  background-color: rgb(32, 32, 32);
  color: white;
  border: none;
}

.form-floating textarea[placeholder="Message"] {
  height: 10em;
}