@import "../../sass/global.module";

#about {
  width: 100vw;
  padding: $padding-full-vw+1;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  font-family: $work-font-family;
  p {
    font-size: $font-size-p-m;
    font-weight: $extra-thin;
    text-align: start;
  }
  a {
    border-bottom: 1px solid;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    h2 {
      width: 100%;
      text-align: center;
    }
  }
  .about-section {
    display: flex;
  }
  .section-1 {
    width: 100%;
    flex-direction: row;
    gap: 3em;
    .section-1-text {
      width: 50%;
    }
    .img-container {
      width: 50%;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 0.375rem;
    }
  }
  .section-2 {
    flex-direction: row;
    gap: 5em;
    .section-2-text {
      width: 50%;
    }
    .section-2-pretty {
      padding: 0.5em;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
      flex-wrap: wrap;
      gap: 2px;
      // display: grid;
      // grid-template-columns: repeat(auto-fill, 1rem);
      // grid-template-rows: repeat(auto-fill, 1rem);
      // gap: 5px;
      overflow: hidden;
      position: relative;
      .pretty-line {
        height: 1rem;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .section-3 {
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    align-items: center;
    // gap: 10em;
    p {
      padding: 0.5em 1em;
      border-radius: 0.375rem;
      font-size: $font-size-p-lg;
      width: 50%;
      font-weight: $thin;
      text-align: center;
    }
    div {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  #about {
    .about-text {
      width: 80vw;
      transition: 0.3s;
      p {
        font-size: $font-size-p-m;
        text-align: justify;
        transition: 0.3s;
      }
    }
  }
}
