@import '../../sass/global';

.jumbotron {
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
  grid-gap: 1rem;
  overflow: hidden;
  > div {
    position: relative;
    &::before {
      // for apsect ratio
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

.animate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate svg {
  width: 100%;
  height: 100%;
  // z-index: 800;
}

.animate circle {
  opacity: 1;
  fill: #c8e71800;
}

.animate circle:hover {
  opacity: 1;
}

.animate circle:not(:hover) {
  transition: 3s;
}

.intro {
  position: absolute;
  top: 40vh;
  color: white;
  padding: 2em;
  h2 {
    font-weight: $extra-thin;
    font-size: $font-size-xl;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: $font-size-paragraphs;
  }
}