.jumbotron {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
  grid-gap: 0;
  overflow: hidden;
  > div {
    position: relative;
    &::before {
      // for apsect ratio
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

// .animate {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .animate svg {
//   width: 100%;
//   height: 100%;
// }

// .animate circle {
//   fill: #ffffff;
//   opacity: 0.03;
//   r: 1rem;
//   cy: 1rem;
//   cx: 1rem;
// }

.animate circle:hover {
  // fill: #ffff9a;
  // opacity: 0.08;
  // animation: grow 10s infinite;
  // animation-direction: alternate-reverse;
  // transform: scale(1.2);
}

.animate circle:not(:hover) {
  // transition: 10s;
  // animation: grow 10s infinite;
  // animation-direction: alternate-reverse;
  // transform: scale(1);
}

// @keyframes grow {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0.5;
//   }
// }
