@import '../../sass/global';

#projects {
  background-color: $background-color;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#projects h3 {
  font-size: $font-size-large;
  font-weight: $extra-thin;
  color: white;
}

#projects-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto auto;
  gap: 2em;
}

.project {
  /* color: white; */
  padding: 1em;
  border-radius: 0.375rem;
  border: 1px solid white;
}

.project img {
  height: 60%;
  width: 100%;
}