@import "../sass/global";

.navigation {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  div {
    gap: 1em;
  }
  a {
    color: $text-dark-bg;
    font-size: 20px;
    font-weight: $extra-thin;
    &:hover {
      color: $text-dark-bg;
    }
    &:focus{
      color: $text-dark-bg;
    }
  }
  button {
    color: $text-dark-bg;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .nav-link.active {
    color: $text-dark-bg;
  }
}
