@import "../App/sass/global";

// #body {
//   background-color: $background-color;
//   font-family: $outfit-font-family
// }

.main-container {
  font-family: $outfit-font-family;
  &.dark {
    background-color: $dark-background-color;
    color: $text-dark-bg;
  }
  &.light {
    background-color: $light-background-color;
    color: $text-light-bg;
  }
}

.material-symbols-rounded {
  font-size: 2rem;
  &:hover {
    font-variation-settings: "FILL" 1;
  }
}
