body {
  background-color: black;
  cursor: none;
}
.main-container {
  font-family: 'Archivo', sans-serif;
}

.material-symbols-rounded {
  font-size: 2rem;
}

.material-symbols-rounded:hover {
  font-variation-settings:
  'FILL' 1;
}
