@import "../App/sass/global";

#body {
  background-color: $background-color;
  font-family: $outfit-font-family
}

.material-symbols-rounded {
  font-size: 2rem;
  &:hover {
    font-variation-settings: "FILL" 1;
  }
}
