@import "../../sass/global";

.custButton {
  font-weight: $extra-thin;
  background-color: rgb(231, 231, 231);
  color: black;
  height: 2em;
  width: 5em;
  border-radius: 0.375rem;
  font-size: $font-size-p-sm;
  border: 1px solid black;
  &:hover {
    transition: 0.3s;
    background-color: white;
    font-weight: 500;
  }
}

.button-end {
  grid-column-start: 4;
  grid-column-end: 5;
}
