@import "../../sass/global";

.button1-style {
  font-weight: $extra-thin;
  background-color: #dfe0db;
  // color: black;
  height: 2em;
  min-width: 4.5em;
  border-radius: 0.375rem;
  font-size: $font-size-p-sm;
  border: 1px solid black;
  &:hover {
    transition: 0.3s;
    background-color: white;
    font-weight: 500;
  }
}

.button-end {
  grid-column-start: 4;
  grid-column-end: 5;
}

.about-contact-btn {
  border: none;
  font-size: $font-size-p-lg;
  width: 8em;
  align-self: center;
  &:hover {
    transition: 0.3s;
    font-weight: 200;
    font-size: $font-size-p-lg;
    background-color: #eaece3;
  }
}
