// Font
$font-size-xl: 130px;
$font-size-large: 50px;
$font-size-paragraphs: 20px;
$font-size-small: 12px;
$extra-thin: 200;

// Colors
$background-color: black;
$text-dark-bg: white;

// Padding
$padding-full-vw: 2em;

// Margins

// Widths
$full-vw: 100vw;

// Heights
$full-vh: 100vh;
