// Font
// $font-size-h1: 100px;

$outfit-font-family: "Outfit", sans-serif;
$work-font-family: "Work Sans", sans-serif;
$font-size-h1: calc(25px + 5vw);
$font-size-h2: calc(20px + 3vw);
$font-size-h3: calc(18px + 2vw);
$font-size-h4: calc(15px + 1vw);
$font-size-p-lg: calc(18px + 0.8vw);
$font-size-p-m: calc(15px + 0.5vw);
$font-size-p-sm: calc(12px + 0.3vw);
$font-size-p-xs: calc(10px + 0.3vw);
$extra-thin: 200;
$medium: 500;
$bold: 800;

// Colors
$background-color: #101010;
$dark-background-color: #101010;
$light-background-color: #f9f9f9;

$text-dark-bg: #f9f9f9;
$text-light-bg: #202020;

// Padding
$padding-full-vw: 2em;

// Margins

// Widths
$full-vw: 100vw;

// Heights
$full-vh: 100vh;
