@import "../../sass/global";

.navigation {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // background-color: rgba(16, 16, 16, 0.02);
  div {
    gap: 1em;
  }
  a {
    border-radius: 0.5rem;
    color: $text-light-bg;
    font-family: $work-font-family;
    font-size: $font-size-p-m;
    font-weight: $extra-thin;
    padding: 0;
    &:hover {
      color: $text-light-bg;
      // font-weight: $thin;
      text-decoration: overline 1px;
    }
    &:focus {
      color: $text-light-bg;
      font-weight: $thin;
      text-decoration: overline 1px;
    }
  }
  button {
    color: $text-dark-bg;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .nav-link.active {
    color: $text-dark-bg;
  }
}

@media screen and (max-width: 575px) {
  .navigation {
    background-color: rgb(9, 9, 9);
    a {
      background-color: rgb(23, 23, 23);
      color: $text-dark-bg;
      font-size: $font-size-p-m;
      padding: 0.5em;
      text-align: right;
      &:hover {
        color: $text-dark-bg;
      }
      &:focus {
        color: $text-dark-bg;
      }
    }
  }
}
